<script>
  import { pluralise } from "$lib/plural.js";

  export let item,
    by = true;
</script>

{#if item.hasOwnProperty("title")}
  <div>
    {#if item.hasOwnProperty("href")}
      {#if item.local}
        <a href={item.href}>{item.title}</a>
      {:else}
        <a target="_blank" rel="external noopener noreferrer" href={item.href}>
          {item.title}
        </a>
        {#if item.hasOwnProperty("hostname")}
          ({item.hostname})
        {/if}
      {/if}
    {:else}
      {item.title}
    {/if}
  </div>
{/if}

<ul class="metadata">
  {#if item.hasOwnProperty("score")}
    <li>{pluralise(item.score, "point")}</li>
  {/if}

  {#if by && item.hasOwnProperty("by")}
    <li>
      <a href="/user/{item.by}">{item.by}</a>
    </li>
  {/if}

  {#if item.hasOwnProperty("time") && item.hasOwnProperty("ago")}
    <li>
      <abbr title={item.time}>{item.ago} ago</abbr>
    </li>
  {/if}

  <slot />

  {#if item.hasOwnProperty("root")}
    <li>
      <a href="/item/{item.root}">root</a>
    </li>
  {/if}

  {#if item.hasOwnProperty("parent")}
    <li>
      <a href="/item/{item.parent}">parent</a>
    </li>
  {/if}
</ul>
