<script>
	import { pluralise } from "$lib/plural.js";

	import Item from "$lib/Item.svelte";

	export let item, by=true;
</script>

<li>
	<Item {item} {by}>
		<li>
			<a href="/item/{item.id}">
				{#if item.descendants > 0}
					{pluralise(item.descendants, "comment")}
				{:else}
					link
				{/if}
			</a>
		</li>
	</Item>
</li>
