<script>
	export let root, page;
</script>

<ul class="metadata">
	<li>
		<a href="{root}/{page + 1}">more</a>
	</li>
	{#if page > 0}
		<li>
			<a href="{root}/{page - 1}">back</a>
		</li>
	{/if}
	{#if page > 1}
		<li>
			<a href="{root}">first</a>
		</li>
	{/if}
</ul>
