<script>
  import { pages } from "$lib/global.js";
  import "./global.css";
</script>

<svelte:head>
  <meta name="color-scheme" content="dark light" />
</svelte:head>

<header>
  <nav class="row">
    <a href="/">HN</a>
    {#each pages as page}
      <a href="/{page}">{page}</a>
    {/each}
  </nav>
</header>

<main>
  <slot />
</main>

<footer class="row">
  <a href="https://gitlab.com/eidoom/hn">source</a>
</footer>

<style>
  .row {
    display: flex;
    gap: 1ex;
  }
</style>
