a {
  text-decoration: none;
}

ol {
  margin-top: 1em;
  margin-bottom: 1em;
}

li {
  margin-bottom: 1ex;
}

main {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

ul.metadata {
  margin: 0;
  padding: 0;
}

ul.metadata li {
  display: inline;
}

ul.metadata li:not(:first-child):before {
  content: "|";
  margin-right: 4px;
}

.text {
  max-width: 100ex;
}
