<script>
  import ListItem from "$lib/ListItem.svelte";
  import PagNav from "$lib/PagNav.svelte";

  export let data;
</script>

<svelte:head>
  <title>HN | {data.kind}</title>
</svelte:head>

{#if data.stories.length}
  <ol start="{data.start}">
    {#each data.stories as story}
      <ListItem item={story} />
    {/each}
  </ol>

  <PagNav root="/{data.kind}" page={data.page} />
{/if}

<style>
</style>
