<script>
  import { pluralise } from "$lib/plural.js";

  import Item from "$lib/Item.svelte";
  import Thread from "./Thread.svelte";

  export let data;
</script>

<svelte:head>
  {#if data.item.title}
    <title>HN | {data.item.title}</title>
  {:else}
    <title>HN | {data.item.type}</title>
  {/if}
</svelte:head>

<div class="row" id={data.item.id}>
  <Item item={data.item}>
    {#if data.item.hasOwnProperty("descendants")}
      <li>
        {pluralise(data.item.descendants, "comment")}
      </li>
    {/if}
  </Item>
</div>

{#if data.item.hasOwnProperty("text")}
  <div class="text row">
    {@html data.item.text}
  </div>
{/if}

<Thread threads={data.item.comments} />

<style>
  .row {
    padding-bottom: 1em;
  }
</style>
