<script>
  import { pluralise } from "$lib/plural.js";

  export let threads;
</script>

{#if threads}
  <ol>
    {#each threads as thread}
      <li id="{thread.id}">
        <ul class="metadata">
          <li>
            <a href="/user/{thread.by}">{thread.by}</a>
          </li>
          <li>
            <abbr title="{thread.time}">{thread.ago} ago</abbr>
          </li>
          {#if thread.hasOwnProperty("descendants")}
            <li>
              {pluralise(thread.descendants, "comment")}
            </li>
          {/if}
          <li>
            <a href="/item/{thread.id}">
              link
            </a>
          </li>
          <li>
            <a href="#{thread.id}">
              anchor
            </a>
          </li>
          {#if thread.hasOwnProperty("root") }
            <li>
              <a href="#{thread.root}">root</a>
            </li>
          {/if}
          {#if thread.hasOwnProperty("parent") }
            <li>
              <a href="#{thread.parent}">parent</a>
            </li>
          {/if}
          {#if thread.hasOwnProperty("prev") }
            <li>
              <a href="#{thread.prev}">prev</a>
            </li>
          {/if}
          {#if thread.hasOwnProperty("next") }
            <li>
              <a href="#{thread.next}">next</a>
            </li>
          {/if}
        </ul>
        <div class="text">{@html thread.text}</div>
        {#if thread.hasOwnProperty("comments")}
          <svelte:self threads={thread.comments} />
        {/if}
      </li>
    {/each}
  </ol>
{/if}

<style>
</style>
