<script>
  import ListItem from "$lib/ListItem.svelte";
  import PagNav from "$lib/PagNav.svelte";

  export let data;
</script>

<svelte:head>
  <title>HN | {data.user.id}</title>
</svelte:head>

<table>
  <tr>
    <th>user</th>
    <td>{data.user.id}</td>
  </tr>

  <tr>
    <th>created</th>
    <td>{data.user.created}</td>
  </tr>

  <tr>
    <th>karma</th>
    <td>{data.user.karma}</td>
  </tr>

  <tr>
    <th>about</th>
    <td>
      {#if data.user.about}
        {@html data.user.about}
      {/if}
    </td>
  </tr>
</table>

{#if data.submitted.length}
  <ol start="{data.start}">
    {#each data.submitted as submission}
      <ListItem item={submission} by={false} />
    {/each}
  </ol>

  <PagNav root="/user/{data.user.id}" page={data.page} />
{/if}

<style>
</style>
